* {
  margin: 0;
  box-sizing: border-box;
}

#page-wrapper {
  width: 100vw;
  background-color: #E9FAE3;
  margin: 0 auto;

  text-align: center;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#header,
footer {
  background-color: #AC92A6;
  padding: 15px;
}

header h1 {
  background-color: #D5C7BC;
  padding: 15px;
}

header p {
  background-color: #D5C7BC;
  height: 25px;
}

nav {
  background-color: #DEE8D5;
  width: 20%;
  display: flex;
  justify-content: center;
}

nav ul {
  padding-left: 0;
  list-style: none;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav li {
  border: 1px solid #AC92A6;
  background-color: #E9FAE3;
  border-style: 50%;
  padding: 5%;
  width: 80%;
  margin: 10%;
}

nav a {
  text-decoration: none;
}

main {
  height: 100vh;
  width: 70%;
  justify-content: center;
  padding: 10px;
}

main p {
  margin: 5px;
}

main h2 {
  padding: 10px;
}

main h3 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

main img {
  justify-content: center;
  max-width: 100%;
  height: auto;
}

#calculator {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

#one,
#two,
#output {
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

#buttons button {
  width: 50px;
  font-weight: bold;
  height: 50px;
  margin-top: 2vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
}

#output {
  margin: 10px auto;
  background-color: white;
  height: 35px;
  width: 275px;
}

/* above is desktop, below is phone */

@media screen and (max-width: 1000px) {
  #container {
    flex-direction: column;
  }

  nav {
    width: 100%;
  }

  main {
    width: 100%;
  }

  nav ul {
    flex-direction: row;
  }

  nav li {
    padding: 2%;
    margin: 1%;
  }
}